body {
margin: 0;
font-family: JetBrains Mono, monospace;
  }
  
.menu-lateral {
position: fixed;
top: 0;
left: 0;
width: 110px;
height: 100%;
background-color: #491d3c;
padding-top: 20px;
display: flex;
flex-direction: column;
align-items: first baseline;
gap: 10px;
}
  
.menu-lateral i {
  color: white;
  font-size: 22px;
  cursor: pointer;
  padding: 10px 15px;
}
  
.menu-lateral a {
  display: block;
  color: white;
  padding: 5px 30px;
  text-decoration: none;
  font-size: 16px;
}
  
.menu-lateral a:hover {
  background-color: #575757;
}
  
.submenu {
  display: flex;
  flex-direction: column;
  width: 100%;
}
  
.oculto {
  display: none;
}
  
main {
  margin-left: 240px;
  padding: 20px;
}
  
/* Centralizar só o h1 */
h1 {
  text-align: left;
}  
  
  